@use "@scss/varibles" as *;
@use "@scss/media" as *;

.choices {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      background: url("/img/arrow.svg") no-repeat center/contain;
    }
  }

  &__box {
    display: none;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    padding: 24px;
    border-radius: 12px;
    z-index: 10;

    &_open {
      display: block;
    }
  }
}

.filter__choices {
  position: relative;
}

.filter__choices_box {
  &.filter__choices_box_type {
    padding: 16px;
  }
}